<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>advanced React Application</title>
  </head>
  <body>
    <h1>Hello Express and Ejs -- <%= answer %></h1>
  </body>
</html>